<!-- Panel (Spotlight) -->
<section class="panel spotlight medium right" id="work-experience">
    <div class="content span-7">
        <h2 class="major">Experiencia laboral</h2>
        <p>En esta sección voy a mostrar un poco sobre mi experiencia laboral, proyectos, tecnologías con la que se desarrolló el trabajo
            de cada uno, tiempo trabajando en los mismos y de que trataba mi participacion en ellos
        </p>
        <div style="display: flex; justify-content: space-between;">
            <a routerLink='/work-experience-details' class="button">Leer más</a>
            <a href="#education" class="button primary color1 circle icon solid fa-angle-right">Next</a>
        </div>
    </div>
    <div class="image filtered tinted" data-position="top left">
        <img src="https://github.com/FonsecaAlejo/portfolio/blob/main/src/assets/images/work.jpg?raw=true" alt=""/>
    </div>
</section>
