<!-- Panel -->
<section class="panel">
    <div class="intro color2">
        <h2 class="major">Skills</h2>
        <p>Una exposición de mis conocimientos más sólidos</p>
        <div style="display: flex; justify-content: space-between;">
            <a href="#skills" class="button primary color1 circle icon solid fa-angle-right">Next</a>
        </div>
    </div>
    <div class="gallery" id="skills">
        <div class="group span-3">
            <a class="image filtered span-3" data-position="bottom"><img src="../../../assets/images/skills/js.jpg" alt="" /></a>
            <a class="image filtered span-1-5" data-position="center"><img src="../../../assets/images/skills/html.jpg" alt="" /></a>
            <a class="image filtered span-1-5" data-position="bottom"><img src="../../../assets/images/skills/css.jpeg" alt="" /></a>
        </div>
            <a class="image filtered span-2-5" data-position="top"><img  src="../../../assets/images/skills/angular.jpg" alt="" /></a>
        <div class="group span-4-5">
            <a class="image filtered span-3" data-position="top"><img src="../../../assets/images/skills/typescript.jpeg" alt="" /></a>
            <a class="image filtered span-1-5" data-position="center"><img src="../../../assets/images/skills/net.png" alt="" /></a>
            <a class="image filtered span-1-5" data-position="bottom"><img src="../../../assets/images/skills/git.png" alt="" /></a>
            <a class="image filtered span-3" data-position="top"><img src="../../../assets/images/skills/rxjs.png" alt="" /></a>
        </div>
    </div>
</section>
