<!-- Panel (Spotlight) -->
<section class="panel spotlight medium right" id="first">
    <div class="content span-7">
        <h2 class="major">Experiencia laboral</h2>
        <p>En esta sección voy a mostrar un poco sobre mi experiencia laboral, proyectos, tecnologías con la que desarrolló el trabajo
            de cada uno, tiempo trabajando en los mismos y de que trataba mi participacion en ellos
        </p>
        <div style="width: 30%;">
            <a href=""><h4>Leer más</h4></a>
        </div>
    </div>
    <div class="image filtered tinted" data-position="top left">
        <img src="../../../assets/images/work-experience-background.jpg" alt="" />
    </div>
</section>