<div id="content-home">
    
    <section class="panel banner right background-white">

        
        <div class="content-section">
            
            <h2 style="color: #3F3844;">Angular, NodeJS</h2> 
            <div class="content-img">
                <figure class="filtered span-1-75 ">
                    <img src="../../../../assets/images/education/angular.jpg" alt="" />
                </figure>
            </div>
            <h2 style="color: #3F3844;">2020</h2>
            
        </div>

        <div class="content-section">
            
            <h2 style="color: #3F3844;">C#</h2> 
            <div class="content-img">
                <figure class="filtered span-1-75 ">
                    <img src="../../../../assets/images/education/fundamentos-c.jpg" alt="" />
                </figure>
            </div>
            <h2 style="color: #3F3844;">2019</h2>
            
        </div>
        
        <div class="content-section">
            
            <h2 style="color: #3F3844;">CSS Grid Layout</h2> 
            <div class="content-img">
                <figure class="filtered span-1-75 ">
                    <img src="../../../../assets/images/education/css-grid-layout.jpg" alt="" />
                </figure>
            </div>
            <h2 style="color: #3F3844;">2019</h2>
            
        </div>
        
        <div class="content-section">
            
            <h2 style="color: #3F3844;">Responsive Design</h2> 
            <div class="content-img">
                <figure class="filtered span-1-75 ">
                    <img src="../../../../assets/images/education/responsive-design.jpg" alt="" />
                </figure>
            </div>
            <h2 style="color: #3F3844;">2019</h2>
            
        </div>
        
        <div class="content-section">
            
            <h2 style="color: #3F3844;">HTML & CSS</h2> 
            <div class="content-img">
                <figure class="filtered span-1-75 ">
                    <img src="../../../../assets/images/education/html-css.jpg" alt="" />
                </figure>
            </div>
            <h2 style="color: #3F3844;">2019</h2>
            
        </div>
        
        <div class="content-section">
            
            <h2 style="color: #3F3844;">Desarrollo web</h2> 
            <div class="content-img">
                <figure class="filtered span-1-75 ">
                    <img src="../../../../assets/images/education/desarrollo-web.jpg" alt="" />
                </figure>
            </div>
            <h2 style="color: #3F3844;">2019</h2>
            
        </div>
        
        <div class="content-section">
            
            <h2 style="color: #3F3844;">Git & GitHub</h2> 
            <div class="content-img">
                <figure class="filtered span-1-75 ">
                    <img src="../../../../assets/images/education/git-github.jpg" alt="" />
                </figure>
            </div>
            <h2 style="color: #3F3844;">2019</h2>
            
        </div>

        <div class="content-section">
            
            <h2 style="color: #3F3844;">Ingles II</h2> 
            <div class="content-img">
                <figure class="filtered span-1-75 ">
                    <img src="../../../../assets/images/education/ingles-2.jpg" alt="" />
                </figure>
            </div>
            <h2 style="color: #3F3844;">2018</h2>
            
        </div>

        <div class="content-section">
            
            <h2 style="color: #3F3844;">Ingles I</h2> 
            <div class="content-img">
                <figure class="filtered span-1-75 ">
                    <img src="../../../../assets/images/education/ingles-1.jpg" alt="" />
                </figure>
            </div>
            <h2 style="color: #3F3844;">2018</h2>
            
        </div>

        
        <div class="content-section">
            
            <h2 style="color: #3F3844;">Java (certificación Oracle) - UTN</h2> 
            <div class="content-img">
                <figure class="filtered span-1-75 ">
                    <img src="../../../../assets/images/education/JAVA-ORACLE.jpg" alt="" />
                </figure>
            </div>
            <h2 style="color: #3F3844;">2018</h2>
            
        </div>
        
    </section>

</div>