<!-- Panel (Spotlight) -->
<section class="panel spotlight large left" id="education">
    <div class="content span-5">
        <h2 class="major">Formación</h2>
        <p>En esta división podrás saber cuales fueron mis logros educacionales, ya sea en instituciones universitarias nacionales o 
            certificaciones adquiridas por plataformas muy conocidas a nivel mundial, con una intuitiva escala de tiempo y el detalle 
            de cada una de las titulaciones</p>
            <div style="display: flex; justify-content: space-between;">
                <a href="#" class="button">Leer más</a>
                <a href="#ability" class="button primary color1 circle icon solid fa-angle-right">Next</a>
            </div>
    </div>
    <div class="image filtered tinted" data-position="top right">
        <img src="https://github.com/FonsecaAlejo/portfolio/blob/main/src/assets/images/education.jpg?raw=true" alt="" />
    </div>
</section>