<!-- Panel -->
<section class="panel color1" id="biography">
    <div class="intro joined">
        <h2 class="major">Aptitudes</h2>
        <ul>
            <li>Pasión por la tecnología</li>
            <li>Proactividad</li>
            <li>Trabajo en equipo</li>
            <li>Organización</li>
            <li>Actitud positiva</li>
            <li>Formación constante</li>
        </ul>
    </div>
    <div class="inner">
        <ul class="grid-icons three connected">
            <li><span class="icon solid fa-code"><span class="label">Code</span></span></li>
            <li><span class="icon solid fa-lightbulb"><span class="label">Ligh</span></span></li>
            <li><span class="icon solid fa-users"><span class="label">Team</span></span></li>
            <li><span class="icon fa-calendar-check"><span class="label">Organization</span></span></li>
            <li><span class="icon solid fa-plus"><span class="label">Plus</span></span></li>
            <li><span class="icon solid fa-book-open"><span class="label">Education</span></span></li>
        </ul>
    </div>
</section>